TapFlappy/bin/classes/com/br/tapflappy/R$raw.class
TapFlappy/bin/classes/com/br/tapflappy/R$style.class
TapFlappy/bin/classes/com/br/tapflappy/R$string.class
TapFlappy/bin/classes/com/br/tapflappy/R$string.class